<%= form_with(model: personne, local: true) do |form| %>
  <% if personne.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(personne.errors.count, "error") %> prohibited this personne from being saved:</h2>

      <ul>
      <% personne.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
