<p id="notice"><%= notice %></p>

<h1>Media</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @media.each do |media| %>
      <tr>
        <td><%= link_to 'Show', media %></td>
        <td><%= link_to 'Edit', edit_media_path(media) %></td>
        <td><%= link_to 'Destroy', media, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Medium', new_media_path %>
